{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}
{% block content %}
    <h1>Articles</h1>
    <div class="wrapper">
        {% for a in articles %}
            <div class="item">
                <h3>{{ a.article_title }}</h3>
                <p>{{ a.description }}</p>
                <div class="item__category">Category: {{ a.category_title }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

