{% extends 'base.html.twig' %}

{% block title %}Create category{% endblock %}
{% block page_title %}Create category{% endblock %}


{% block content %}
    {{ form_start(form) }}
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}