{# TODO: directory naming fix, file naming fix#}
{% extends 'base.html.twig' %}

{% block title %}Front{% endblock %}{# TODO: naming fix #}

{% block content %}
    {% block greetings %} Welcome to the front page {% endblock %}{# TODO: remove block #}
    <h1>Articles</h1>
    <div class="wrapper">
        {% for a in articles %}
            <div class="item">
                <h3>{{ a.article_title }}</h3>
                <p>{{ a.description }}</p>
                <div class="item__category">Category: {{ a.category_title }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

