<form method="POST" action="{{ path("article_create") }}">
    <label for="title">Article title</label>
    <input id="title" name="title" type="text" placeholder="Title"><br>
    <label for="desc">Article description</label>
    <input id="desc" name="description" type="text" placeholder="Description"><br>
    <label for="cat">Article category</label>
    <input id="cat" name="category" type="text" placeholder="Category"><br>
    <button type="submit">Send</button>
</form>