// TODO: move to project root scss files 
$red: green;
$brown: #584E4A;
$whitey: #f0f0f0;

$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);


* {
  margin: 0;
  padding: 0; }
a {
  text-decoration: none;
}

footer {
  margin-top: 100px;
}

.container {
  padding-top: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center; }

h1 {
  margin-bottom: 10px;
  text-transform: uppercase; }

.logo {
  font-size: 30px;
  font-weight: bold;
  a{
    color: green;
    &:hover {
      text-decoration: underline;
    }
  }
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  li {
    a {
      display: inline-block;
      margin-bottom: 25px;
      margin-right: 5px;
      margin-left: 5px;
      padding: 5px;
      color: #000;
      font-size: 25px;
      transition: .5s;
      position: relative;
    }
    a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      background: green;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0%;
    }
    a:hover:after {
      width: 100%;
      left: 0;
    }
    .active {
      position: relative;
      &:after{
        width: 100%;
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        background: green;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
      }
    }
  }
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .item {
    flex-basis: 30%;
    margin-bottom: 25px;
    &__category {
      margin-top: 10px;
      color: gray;
    }

  }
}

