form {
  margin-bottom: 50px;
  font-size: 25px;
  input {
    margin-bottom: 10px;
    font-size: 25px;
  }
  button {
    font-size: 25px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
  label {
    margin-right: 10px;
  }
}
.alert-success {
  font-size: 30px;
  color: green;

}