{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block navigation %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/article/create">Create article</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    {% block greetings %}
        {{ include('user/form.html.twig') }}
    {% endblock %}
{% endblock %}