{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block content %}
    {% block greetings %}
        {{ include('user/form.html.twig') }}

    {% endblock %}
    <h2>Total users in app: {{ count_users() }}</h2>
{% endblock %}