{% extends 'base.html.twig' %}

{% block navigation %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/article/create">Create article</a></li>
            <li><a href="/user/create">Create another user</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>{{title}} ✅</h1>
        <h2>Your user name: {{ username }}</h2>
        <h2>Your first name: {{ firstName }}</h2>
        <h2>Your last name: {{ lastName }}</h2>
    </div>
{% endblock %}
